<%= form_for @candidate, :html => {:multipart => true, :class => "form-horizontal candidate"} do |f| %>
  <% if @candidate.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@candidate.errors.count, "error") %> prohibited this candidate from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @candidate.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label "First Name", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :f_name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Last Name", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :l_name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :address, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :address, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :phone_no, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :phone_no, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :interview_date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :interview_date, :class => 'form-control datepicker', autocomplete: "off" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :image, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :image %>
      <img id="hidden_img" src="#" alt="Candidate Img Preview" />
    </div>
  </div>
  <!--################## Work Experience ###################-->
  <div class="break-line">
    <h1>Work Experiences</h1>
  </div>
  <div class="form-group">
    <%= f.fields_for :work_experiences, @candidate.work_experiences do |we| %>
        <%= render 'work_experience', f: we %>
    <% end %>
  </div>
  <div class="form-group">
    <%= link_to_add_fields "Add Experience", f, :work_experiences %>
  </div>
  <!--################## Resume ###################-->
  <div class="break-line">
    <h1>Resume</h1>
  </div>
  <div class="form-group">
    <%= f.fields_for :resume, @candidate.resume do |re| %>
        <%= render 'resume', f: re %>
    <% end %>
  </div>

    <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                candidates_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>

<script>
  $(function(){
      $('body').on('focus',".datepicker", function(){
          $(this).datetimepicker({dateFormat: "mm/dd/yy",altFormat: "yy-mm-dd"});
      })

      $('form').on('click', '.remove_fields', function(event) {
          $(this).prev('input[type=hidden]').val('1');
          $(this).closest('fieldset').hide();
          return event.preventDefault();
      });

      $('form').on('click', '.add_fields', function(event) {
          var regexp, time;
          time = new Date().getTime();
          regexp = new RegExp($(this).data('id'), 'g');
          $(this).before($(this).data('fields').replace(regexp, time));
          return event.preventDefault();
      });

      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $('#hidden_img').attr('src', e.target.result);
          };
          reader.readAsDataURL(input.files[0]);
        }
      }
      $("#candidate_image").change(function(){
          $("#hidden_img").css("display", "block");
          readURL(this);
      });
  });
</script>
