<!doctype html>
<html>
<head>
  <title><%= @candidate.name %> Assessment Report</title>
  <meta charset='utf-8' />
  <%#= wicked_pdf_stylesheet_link_tag "pdf", media: "all", "data-turbolinks-track" => true %>
  <%#= wicked_pdf_javascript_include_tag "application" %>
  <%= wicked_pdf_stylesheet_link_tag "pdf" %>
  <%= wicked_pdf_javascript_include_tag "application", "data-turbolinks-track" => true %>
</head>
<body onload='', class="pdf_page-border">
<div id="header">
  <%#= image_tag wicked_pdf_asset_base64('logo.png') %>
</div>

<div class="pdf_header">
  <section>
    <% if request.url.include?("debug") %>
      <%= image_tag 'logo.png', class: "company_logo_pdf" %>
      <table class="right_header_pdf">
        <tr>
          <td>100 Overlook Center, 2nd Floor, Princeton, NJ 08540</td>
          <td style="float: right"><%= image_tag 'home.png', class: "home_icon" %></td>
        </tr>
        <tr>
          <td>www.riptonsolutions.com</td>
          <td style="float: right"><%= image_tag 'web.png', class: "home_icon" %></td>
        </tr>
        <tr>
          <td>(800) 390-6638</td>
          <td style="float: right"><%= image_tag 'contact.png', class: "home_icon" %></td>
        </tr>
      </table>
    <% else %>
      <%= wicked_pdf_image_tag 'logo.png', class: "company_logo_pdf" %>
      <table class="right_header_pdf">
        <tr>
          <td>100 Overlook Center, 2nd Floor, Princeton, NJ 08540</td>
          <td style="float: right"><%= wicked_pdf_image_tag 'home.png', class: "home_icon" %></td>
        </tr>
        <tr>
          <td>www.riptonsolutions.com</td>
          <td style="float: right;"><%= wicked_pdf_image_tag 'web.png', class: "home_icon" %></td>
        </tr>
        <tr>
          <td>(800) 390-6638</td>
          <td style="float: right"><%= wicked_pdf_image_tag 'contact.png', class: "home_icon" %></td>
        </tr>
      </table>
    <% end %>
  </section>
  <!--<div>-->
    <!--<span style="float: right;"><%#= image_tag 'home.png', class: "web_icon" %></span>-->
    <!--<div style="float: right;  margin-top: 8px; font-size: medium;">100 Overlook Center, 2nd Floor, Princeton, NJ 08540</div><br/>-->
  <!--</div>-->


</div>
<div id="content">
  <%= yield %>
</div>
</body>
</html>